<div class="hero">
  <div class="overlay">
    <div class="inner">
      <div class="container">
          <div class="col-md-12">
            <h1>Current Jobs</h1>
          </div>
          <div class="col-md-7">
            <h2>Cloud Infrastructure Engineer</h2>
            <p>I saw this job and thought I would share it. If you Refer the person that starts you will get a £500 Reward. <a href="https://goo.gl/forms/ra75eWoSJNlxQVN32">https://goo.gl/forms/ra75eWoSJNlxQVN32</a> <a href="https://twitter.com/referreward">@referreward</a></p>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>