<div class="hero">
  
    <div class="inner">
      <div class="container">
          <div class="col-md-12">
            <h1>Current Jobs</h1>
            <p class="lead">If you Refer the person that starts you will get a Reward</p>
          </div>
          <div class="col-md-10">
            <div class="jumbotron jobs"><iframe height="600" width="100%" style="background:transparent;" src="https://docs.google.com/document/d/e/2PACX-1vRrnk5RVkpM6tZ6oIQYObo9J3Xv4dKiWb69eiVLfZ24PAZgCtEzqg0ZRTrzltV_zzrIZNE0ND3d4ge2/pub?embedded=true"></iframe></div>
            <!--div class="jumbotron jobs oddone"><h3><a href="https://goo.gl/forms/ra75eWoSJNlxQVN32">Software Engineer - Cardiff, Wales</a></h3>
            <p>£650 Reward. <a href="https://twitter.com/referreward">@referreward</a></p></div-->
          </div>
        </div>
      </div>

  </div>
  
