<div class="hero">
  
    <div class="inner">
      <div class="container">
          <div class="col-md-12">
            <h1>Current Jobs <span class="badge">2</span></h1>
            <p class="lead">If you Refer the person that starts you will get a Reward</p>
          </div>
          <div class="col-md-7">
            <div class="jumbotron jobs"><h3><a href="https://goo.gl/forms/ra75eWoSJNlxQVN32">Cloud Infrastructure Engineer - Cardiff, Wales</a></h3>
            <p>£500 Reward. <a href="https://twitter.com/referreward">@referreward</a></p></div>
            <div class="jumbotron jobs oddone"><h3><a href="https://goo.gl/forms/ra75eWoSJNlxQVN32">Software Engineer - Cardiff, Wales</a></h3>
            <p>£650 Reward. <a href="https://twitter.com/referreward">@referreward</a></p></div>
          </div>
        </div>
      </div>

  </div>
  
