<div class="hero">
  
    <div class="inner">
      <div class="container">
          <div class="col-md-12">
            <h1>Current Jobs</h1>
            <p class="lead">If you Refer the person that starts you will get a Reward</p>
          </div>
          <div class="col-md-10">
            <div class="jumbotron jobs"><a class="twitter-moment" href="https://twitter.com/i/moments/924242383943987202?ref_src=twsrc%5Etfw">Jobs to Refer</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
            <!--div class="jumbotron jobs oddone"><h3><a href="https://goo.gl/forms/ra75eWoSJNlxQVN32">Software Engineer - Cardiff, Wales</a></h3>
            <p>£650 Reward. <a href="https://twitter.com/referreward">@referreward</a></p></div-->
            
          </div>
        </div>
      </div>

  </div>
  
