<section class="intro col-md-8 col-md-offset-2">
<h2>Refer your talented friends</h2>

<p>Refer Reward allows you to refer your talented friends or colleagues to
  employers who are <strong>looking for great people</strong>.

  You get rewarded for doing so – both in terms of doing a good deed and
  collecting the reward set by the employer</p>

<p>We’re not quite ready to go live yet,
   but <a href="">sign up</a> here and not only will you
   automatically qualify for launch status and offers
   but you can help us shape the product as we
   develop it</p>
</section>

<section class="col-md-12">
<div class="infographic">
    <h2>How it works</h2>
    <div class="col-md-8 col-md-offset-2">
       <%= image_tag "infographic.png" %>
    </div>
</div>
</section>
