<div class="hero">
  <div class="overlay">
    <div class="inner">
      <div class="container">
          <div class="col-md-12">
            <h1>Refer talented people. Earn money</h1>
          </div>
          <div class="col-md-5">
            <%= render 'user_captures/form', user_capture: @user_capture %>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>

<div class="container">

  <section class="central col-md-8 col-md-offset-2">

  <h2>Refer your network for interesting roles</h2>

  <p>We’re not quite ready to go live yet,
   but <a href="">sign up</a> here and not only will you
   automatically qualify for launch status and offers
   but you can help us shape the product as we
   develop it</p>
</section>

<section class="col-md-10 col-md-offset-2 how-it-works">
  <h2>How it works</h2>
  <div class="infographic">
    <div class="col-md-12">
       <%= image_tag "infographic.png" %>
    </div>
  </div>
</section>

</div>
