<div class="hero">
  <div class="overlay">
    <div class="inner">
      <div class="container">
          <div class="col-md-12">
            <h1>Refer talented people, get rewarded</h1>
          </div>
          <div class="col-md-7">
            <%= render 'user_captures/form', user_capture: @user_capture %>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>

<div class="container">

  <section class="central col-md-8 col-md-offset-2">

    <h2>Refer great people for amazing new careers and get rewarded</h2>

    <p>Everyday, people offer recommendations and referrals for all kinds of things, restaurants, TV programmes, shops... It makes us feel good!
    We have taken that human nature and applied it to getting your talented friends and colleagues new jobs, you still feel great but you also get an added reward to say thanks... Nice!</p>
</section>

<section class="col-md-10 col-md-offset-2 how-it-works">
  <h2>How it works</h2>
  <div class="infographic">
    <div class="col-md-12">
       <%= image_tag("infographic.png",class:"info_graphic hidden-xs img-responsive center-block") %>
       <%= image_tag("infographic-stacked.png",class:"info_graphic visible-xs img-responsive center-block") %>
    </div>
  </div>
</section>

</div>
