<div class="hero">
  <div class="overlay">
    <div class="inner">
      <div class="container">
        <h1>Refer talented people. <br>Earn money</h1>
        <h2>Refer Reward allows you to refer your talented friends or</br>
          colleagues to employers who are looking for great people</h2>

        <button type="button" class="button btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Register for early access
        </button>
      </div>
  </div>
  </div>
</div>

<div class="container">

  <section class="central col-md-8 col-md-offset-2">

  <h2>Refer your network for interesting roles</h2>

  <p>We’re not quite ready to go live yet,
   but <a href="">sign up</a> here and not only will you
   automatically qualify for launch status and offers
   but you can help us shape the product as we
   develop it</p>
</section>

<section class="col-md-10 col-md-offset-2">
  <h2>How it works</h2>
  <div class="infographic">
    <div class="col-md-12">
       <%= image_tag "infographic.png" %>
    </div>
  </div>
</section>

</div>
