<div class="container">

<h2>Privacy Policy</h2>

<p>The Company will collect the personal details that you provide to us on our website for the purposes of providing you with services and/or information. In providing such services and/or information to you we will only use your personal data in accordance with the terms of the following statement.</p>

<p>This statement sets out below:</p>

<ul>
  <li>How the Company collects your personally identifiable information through the website.</li>
  <li>How the Company uses this information.</li>
  <li>Who the Company may share the information with and for what purpose(s).</li>
  <li>What choices are available to you regarding collection, use and distribution of your information.</li>
  <li>The kind of security procedures that are in place to protect the loss, misuse or alteration of information collected through the Company’s website</li>
  <li>How you can correct any inaccuracies in the information collected through the website.</li>
</ul>

<p>If you feel that this company is not abiding by its posted privacy policy, you should first contact info@referreward.com</p>

<h2>Information Collection and Use</h2>

<p>The Company collects information from our users at several different points on our website. The Company is the sole owner of the information collected on this site.  We will not sell, share, or rent this information to others.</p>

<h2>Registration</h2>

<p>We request information from you on our online registration forms.  Here you must provide contact information and information regarding the type of work you are seeking and your skills, qualifications and experience.  This information is used to enable us to provide you with work-finding services.  If we have trouble processing your application, this contact information is used to get in touch with you. The Company does not use this information for any other purpose.</p>

<h2>Cookies</h2>

<p>Cookies are small text files that are placed on your computer by websites that you visit. They are widely used in order to make websites work, or work more efficiently, as well as to provide information to the owners of the site.</p>

<p>Most web browsers allow some control of most cookies through the browser settings. To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, visit www.aboutcookies.org or www.allaboutcookies.org. Please note that in a few cases some of our website features may not function if you remove cookies from your browser.</p>

<h2>Log Files</h2>

<p>We use IP addresses to analyse trends, administer the site, track users’ movements, and to gather broad demographic information for aggregate use.  IP addresses are not linked to personally identifiable information.</p>

<h2>Sharing</h2>

<p>We may share aggregated demographic information with our clients. This is not linked to any personal information that can identify any individual person.</p>

<h2>Sale of business</h2>

<p>If the Company’s business is sold or integrated with another business your details may be disclosed to our advisers and any prospective purchasers and their advisers and will be passed on to the new owners of the business.</p>

<h2>Links</h2>

<p>This website contains links to other external websites. Please be aware that the Company is not responsible for the privacy practices of such other sites.  We encourage you to be aware of this when you leave our site and to read the privacy statements of each and every website that collects personally identifiable information.  This privacy statement applies solely to information collected by the Company’s website.</p>

<h2>Security</h2>

<p>The Company takes every precaution to protect our users’ information. [insert details of security measures in relation to the personal data processed, e.g. firewalls, browser certification technology, encryption, limited access, use of passwords etc. as appropriate].</p>

<p>Only employees who need the information to perform a specific job (for example, our accounts clerk or a marketing assistant) are granted access to your information.</p>

<p>The Company uses all reasonable efforts to safeguard your personal information. However, you should be aware that the use of the Internet is not entirely secure and for this reason the Company cannot guarantee the security or integrity of any personal information which is transferred from you or to you via the Internet.
If you have any questions about the security at our website, you can send an email to info@referreward.com</p>

<h2>Correction/Updating Personal Information</h2>

<p>If your personally identifiable information changes (such as office address), we will endeavour to provide a way to correct, update or remove the personal data provided to us.  This can usually be done by emailing info@referreward.com</p>

<h2>Notification of Changes</h2>

<p>If we decide to change our privacy policy, we will post those changes on our Homepage so our users are always aware of what information we collect, how we use it, and under circumstances, if any, we disclose it.  If at any point we decide to use personally identifiable information in a manner different from that stated at the time it was collected, we will notify users by way of an email.  Users will have a choice as to whether or not we use their information in this different manner. We will use information in accordance with the privacy policy under which the information was collected.</p>

<p>This policy was last updated 1/12/2016</p>

<h2>Complaints or queries</h2>

<p>The Company tries to meet the highest standards when collecting and using personal information. We take any complaints we receive about this very seriously. We encourage people to bring it to our attention if they think that our collection or use of information is unfair, misleading or inappropriate. We would also welcome any suggestions for improving our procedures.
If you wish to complain about this policy or any of the procedures set out in it please contact:
info@referreward.com</p>

</div>
