// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors.scss";

.central { text-align: center; }

.typed-cursor {
    color: #888;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite !important;
}

.button {
  background: $blue;
  padding: 16px 28px;
  font-weight: bold;
  text-align: center;
  color: white;
  border: 2px solid $blue;
  border-radius: 5px;
  cursor: pointer;
  &:hover { color: white; text-decoration: none; }
}

.hero {
    width: 100%;
    overflow: hidden;
    min-height: 600px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), image-url("64.jpg") center;
    background-size: cover;
    position: relative;
    color: #AAA;

    h1 { font-size: 40px; color: white; }
    h2 { font-size: 24px; color: #ccc; margin-bottom: 48px; }

    
    .inner {
        padding: 90px 0;
        display: table-cell;
        vertical-align: middle;
    }
    

    .action { display: inline-block; padding: 6px 12px; }
}
.adverts{
  padding-bottom:4em;
  margin-bottom:4em;
  height:auto;
}
.jobs{
  background-color:rgba(0,0,0,0.7);
  box-shadow:0 3px 5px #000;
}  
.jobs h3{
    color:#f0f0f0;
}
.oddone{
    background-color:rgba(0,0,0,0.5);
    margin-bottom:5em;
}

@media (max-width: 1024px) {
    .hero { height: 700px; }
}

.header {

  background: white;

  .logo img {
    padding: 12px 0;
    width: 260px;
  }
}

.footer {
    width: 100%;
    padding: 24px 0;
}

.infographic {

    padding: 24px 0 0 0;

    img { width: 100%; }
}